:root{
    --yellow: #FBC000;
    --red: #E64748;
    --green: #00A296;
    --white: #FFF;

}
body{
    font-family: 'Roboto', sans-serif;
    background: #202020;
}

a{
    cursor: pointer;
}

h2{
    margin: 40px 0 15px 0;
}

h2, h3{
    color: var(--white);
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 1.2px;
}

.yellow-text{
    color: var(--yellow);
}

.red-text{
    color: var(--red);
}

.green-text{
    color: var(--green);
}

.item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white);
    width: 100%;
}

.dot{
    border-bottom: dotted 3px var(--white);
    width: 100%;
    float: left;
    position: relative;
    display: block;
    height: 25px;
}

.section-title{
    margin: 20px 0 0 0;
}

.item h3{
    margin: 10px 0;
}

.item .price{
    margin-bottom: 0;
}

.carta img{
    width: 100%;
}

.carta-mobile{
    display: none;
}

.whatsapp{
    position: fixed;
    bottom: 35px;
    right: 25%;
}

.whatsapp a{
    text-decoration: none;
    color: #3a9b4e;
    background: white;
    padding: 15px 20px 15px 10px;
    border-radius: 8px;
}

.whatsapp a:hover{
    text-decoration: underline;
}

.whatsapp a img{
    width: 32px;
    margin: 0 10px 0 0;
    vertical-align: middle;
}

.last-section{
    margin-bottom: 100px;
}

.container{
    padding: 20px;
}

@media screen and (max-width: 576px){
    .carta-desktop{
        display: none;
    }
    .carta-mobile{
        display: block;
    }

    .carta img{
        width: 100%;
    }
    .whatsapp{
        bottom: 10px;
    }
}